@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

.bg-primary{
	background:white;
	}
.bg-white{
	background-color: white;
	color: #3754FF
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.container-dai{
	width: 100%
}
.container-ngan{
	display: flex;
	
	justify-content: center;
}
.align-centertext{
	text-align: center
}
.row{
	display: flex;
}
.row2{
	display: flex;
	justify-content: center;
	align-items: center
}
.align-center{
	align-self: center
}
.align-seft-bottom{
	align-self: flex-end
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
.p-1{
	padding: 4px;
}
.pt-1{
	padding: 4px;
}
.pb-1{
	padding: 4px;
}
.pl-1{
	padding: 4px;
}
.pr-1{
	padding: 4px;
}
.px-1{
	padding:0px 4px;
}
.px-4{
	padding: 0 16px
}
.py-1{
	padding: 4px 0px;
}
.py-2{
	padding: 8px 0px;
}
.py-3{
	padding: 12px 0px;
}
.mt-1{
	margin-top: 4px
}
.mr-1{
	margin-right:4px 
}
.mt-10{
	margin-top: 40px
}
.ml-1{
	margin-left: 4px
}
.mb-1{
	margin-bottom: 4px
}
.mb-6{
	margin-bottom: 24px
}
.mb-10{
	margin-bottom: 40px
}
.mx-1{
	margin: 0 4px
}
.my-1{
	margin: 4px 0
}
.my-3{
	margin: 12px 0
}
.mx-auto{
	margin: 0 auto
}
.p-2{
	padding: 8px
}
.p-3{
	padding: 12px
}
.padding-6{
	padding: 0px 4px 0px 20px
}
.text{
	padding: 10px 0
}
.text-5{
	padding: 10px 50px
}
.text-5 h1{
	font-size: 15px
}
.banner-ct{
	font-size: 40px
}
.banner p{
	font-size: 20px
}
.banner a{
	font-size: 20px
}
.flex{
	display: flex
}
.logo{
	text-align: center
}